*{
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration:none;
	font-family: "微軟正黑體";
}

body{
/*	background-color: #a4f6a5;*/
	background-image: url(../images/1059588697.jpg);
	background-size: cover;
}

img{
	display: block;
}
 
#all{
	width:100%
}

header{
	position: fixed;
	width: 100%;
	z-index: 100;
}

.navbar{
	padding: 0.5rem 0rem;
	width: 100%;
	height: 70px;
	text-align: center;
	background: hsla(240, 0%, 50%, 0.8) ;
	color: #fff;
	transition: .3s;
}

.navbar.mini{
	padding: 0rem;
}

.navbar>ul{
	line-height: 70px;
}

.navbar ul li{
	display:inline-block;
	font-weight:bold;
}

.nav-item{
	padding: 24px 15px;
	color: #fff;
}

.nav-item:hover{
	background-color:#666666;
}

#bgphoto{
	padding-bottom: 730px;
}

section{
	position: absolute;
}

article{
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	font-size: 18px;
	line-height: 25px;
}

#content{
	padding: 50px 80px;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 3px 10px 5px rgba(154,154,154,0.80);
	background-color: #f1eb9a;
	color: #333333;
}

#sttd{
	width: 18%;
	padding: 15px 25px;
	margin: auto;
	text-align: center;
	background: #fff;
	z-index: 7;
	border-radius: 10px;
}

#sttd li{
	display: inline-block;
}

.sttds{
	padding: 10px 8px;
	color: #121212;
	font-size: 18px;
}
	
.sttds:hover{
	background-color: #f8a978;
	color: #ffffff;
}

#bgphoto>img{
	position: absolute;
	width: 100%;
	height: auto;
}

#bgphoto>.btn{
	position: absolute;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 25px;
	background: rgba(37,36,36,1.00);
	color: white;
}

#btn1,#btn2{
	margin-top: 25%;
}

#bgphoto>#btn1{
	position: relative;
	float: left;
}

#bgphoto>#btn1:hover{
	box-shadow: -5px 0px 20px 0px black;
}

#bgphoto>#btn2{
	position: relative;
	float: right;
}

#bgphoto>#btn2:hover{
	box-shadow: -5px 0px 20px 0px black;
}

h2{
	margin: 5px 0;
}

.card{
	position: relative;
	width: 500px;
	height: 500px;
	background: #262626;
	overflow: hidden;
}

input,.toggle{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;
	outline: none;
	z-index: 10;
}

input{
	opacity: 0;
}

.toggle{
	pointer-events: none;
	border-radius: 50%;
	background: #fff;
	transition: 0.5s;
	text-align: center;
	line-height: 50px;
	font-size: 36px;
	box-shadow: 0 0 0 0px #9c27b0;
}

input:checked ~ .toggle{
	box-shadow: 0 0 0 700px #9c27b0;
	transform: rotate(225deg);
}

.imgBx,.details{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.details{
	padding: 20px;
	box-sizing: border-box;
	z-index: 11;
	pointer-events: none;
	transition: 0.5s;
	opacity: 0;
}

input:checked ~ .details{
	opacity: 1;
	transition-delay: 0.5s; 
}

.details h2{
	margin-bottom:  20px;
	color: #fff;
	text-align: center; 
}

.details p{
	padding: 0;
	margin: 0;
	color: #fff;
	line-height: 30px;
}



